/* googleStyles.css */

.container {
    display: grid;
    grid-template-rows: 3fr 10fr 2fr 2fr;
    grid-template-columns: 2fr 6fr 3fr;
    grid-template-areas:
    ". . nav-right"
    ". main ."
    "footer-one footer-one footer-one"
    "footer-two-left . footer-two-right";
  }
  
  h1, h2, h3 {
    font-family: monospace;
    text-align: center;
  }

.nav-right {
    grid-area: nav-right;
    justify-self: right;
  /*  grid-area: 1 / 9 / 2 / 13; */
}

.main {

    grid-gap:5px;
    grid-area: main;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". google-img google-img ."
    "search-bar search-bar search-bar search-bar"
    ". search-button lucky-button ."
    ". language language .";
}

.google-img {
    grid-area: google-img;
    align-self: end;
    justify-self: center;
}


.search-bar {
    grid-area: search-bar;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-areas:
    "mag-glass search";
    justify-self: center;
    align-self: middle;
    width: 582px;
    background: #FFF;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

.search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search-button {
    background-color: green;
    grid-area: search-button;
}

.lucky-button {
    background-color: orange;
    grid-area: lucky-button;
}

.language {
    background-color: violet;
    grid-area: language;
}

.mag-glass {
    grid-area: mag-glass;
    justify-self: center;
    align-self: middle;
}

.magnify {
    width: 14px;
    height: auto;
    padding-top: 15px;
    opacity: .4;
}

.search {
    grid-area: search;
}

.bar {
    margin-top:3px;
    align-self:end;
    justify-self: start;
    height: 80%;
    width: 95%;
    border: none;
    font-size: 30px;
    font-family: arial;
    line-height: 34px;
}

.bar:focus{
    outline:none;
}

.footer-one {
    grid-area: footer-one;
    background-color: purple;
    /* grid-area: 11 / 1 / 12 / 13; */
}

.footer-two-left {
    grid-area: footer-two-left;
    background-color: orange;
   /* grid-area: 12 / 1 / 13 / 5; */
}

.footer-two-right {
    grid-area: footer-two-right;
    background-color: pink;
  /*  grid-area: 12 / 10 / 13 / 13; */
}

.nav-right a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    align-items: center;
}

.nav-right a:hover{
    opacity: .85;
    text-decoration: underline;
}

.google-apps {
    display: inline-block;
    padding: 0px 10px 0px 0px; 
    height: 23px;
    width: 23px;
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: -132px -38px;
    margin-top: 0px;
    opacity: .55;
    line-height: normal;
    white-space: nowrap;
    margin-left: 5px;
    align-self: center;
}

.google-image {
    height: 92px;
    width: 272px;
}